footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 41vw;
}

footer a {
    font-family: var(--monoton);
    color: var(--color-oscuro);
    background: var(--color-letra);
    padding: 0.3rem 1.2rem;
    border-radius: 9rem;
    text-decoration: none;
}