header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--color-claro);
    width: 84vw;
    border-radius: 10rem;
    height: 24vh;
    padding: 0 3rem;
}

.nombreTitulo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 0.9rem;
}

.nombreTitulo h1{
    font-size: 4.2vh;
    margin: 0px;
    color: var(--color-letra);
    font-family: var(--monoton);
}

.nombreTitulo h2{
    color: var(--color-oscuro);
    font-family: var(--outfit);
    font-size: 2.7vh;
}
header img{
    border-radius: 6rem;
    border: 0.6rem solid var(--color-fondo);
    width: 18vh;
    height: 18vh;
}

.bolitas{
    display: flex;
    width: 90vw;
    justify-content: flex-start;
    align-items: center;
}

.bolita1{
    height: 3rem;
    width: 9rem;
    background-color: antiquewhite;
    border-radius: 9rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.bolita2{
    height: 3rem;
    width: 6rem;
    background-color: var(--color-oscuro);
    border-radius: 9rem;
    margin-right: 6rem;
}

.bolita3{
    height: 3rem;
    width: 3rem;
    background-color: var(--color-letra);
    border-radius: 9rem;
    margin-right: 9rem;
}